<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find f1tenth_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/2.0} 0 -${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://f1tenth_vehicle_description/mesh/f1tenth.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
